.container {
  margin:120px 0;
  padding:0 20%;
  text-align: left;
}

.container h3{
  font-size:28px;
  font-weight: 800;
}

.container h3 span {
  margin-left:10px;
  color:#0fb77e;
}

.newRow {
  display: flex;
  gap: 1%;
  margin: 10px 0;
}

.newRow input {
  padding: 0 30px 0 20px;
  background:#f0f0f0;
  border-radius: 4px;
  border:1px solid #f0f0f0;
  height:50px;
  font-size:16px;
  font-weight:500;
}

.newRow input::placeholder{
  color:#999999
}

.newRow input:nth-of-type(1){
  width:12%;
}
.newRow input:nth-of-type(2){
  width:54%;
}
.newRow input:nth-of-type(3){
  width:20%;
}
.newRow button{
  width:10%;
  border:1px solid #0fb77e;
  border-radius: 4px;
  background: #0fb77e;
  font-size: 16px;
  font-weight: 500;
  color:#fff;
  cursor: pointer;
}

.list {
  max-height: 480px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
  border-bottom: 1px solid #eee;
  align-items: center;
  transition: background-color 0.3s;
}

.row:hover {
  background-color: #f5f5f5;
}

.left {
  flex: 1;
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: #888;
  margin-left: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.deleteBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.deleteBox input {
  padding: 4px;
}
