.container {
  margin:90px 0;
  padding:0 19%;
  text-align: left;
}

.container h3{
  font-size:28px;
  font-weight: 800;
  min-width: 762px;
}

.container h3 p{
  font-size:18px;
  float: right;
}

.container h3 .count {
  color:#0fb77e;
  font-weight: 700;
  text-align: right;
  margin-left:10px;
}


.newRow {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  min-width: 762px;
}

.newRow input {
  box-sizing: border-box;
  padding: 0 30px 0 20px;
  background:#f0f0f0;
  border-radius: 4px;
  border:1px solid #f0f0f0;
  height:50px;
  font-size:16px;
  font-weight:500;
}

.newRow input::placeholder{
  color:#999999
}

.newRow input:nth-of-type(1){
  flex-shrink: 0;
  width:140px;
}
.newRow input:nth-of-type(2){
  flex :1;
}
.newRow input:nth-of-type(3){
  flex-shrink: 0;
  width:180px;
}
.newRow button{
  flex-shrink: 0;
  width:115px;
  border:1px solid #0fb77e;
  border-radius: 4px;
  background: #0fb77e;
  font-size: 16px;
  font-weight: 500;
  color:#fff;
  cursor: pointer;
}

.list {
  margin:30px 0 60px;
}

.row {
  justify-content: space-between;
  display: flex;
  font-size:16px;
  margin-top:30px;
}

.left {
  display:flex;
  gap:15px;
}

.left .name{
  flex-shrink: 0;
  width:140px;
}

.left .message {
  flex-shrink: 1;
  text-align: left;
  max-width: 620px;
  min-width: 370px;
}

.right {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
  width:200px;
  color:#999;
  justify-content: right;
  align-items: center;
  margin-left:30px;
}

.right .like{
  background: url("http://10.103.201.115:5102/common.png") no-repeat 4px 5px / 100px 100px;
  width:20px;
  height:20px;
  cursor: pointer;
}

.right .like.liked {
  background-position: -16px 5px;
}

.right a{
  color: #999;
  text-decoration: underline;
  cursor: pointer;
}

.deleteBox {
  min-width: 732px;
  margin-top:10px;
  position:relative;
  text-align: right;
}

.deleteBox::placeholder{
  color:#999;
}

.deleteBox input {
  padding: 4px;
  border: 1px solid #0fb77e;
  border-radius: 4px;
  padding:10px 40px 9px 14px;
  height:50px;
  box-sizing: border-box;
  font-size:16px;
}

.deleteBox span{
  position:absolute;
  right:13px;
  top:0;
  line-height: 50px;
  font-weight: 700;
  color:#0fb77e;
  cursor: pointer;
}

.seeMore{
  margin-top:60px;
  text-align: center;
  min-width: 762px;
  height:50px;
}

.seeMore div{
  background:#f0f0f0;
  color:#101010;
  font-size:16px;
  font-weight: 700;
  height:100%;
  width: 340px;
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

.hundred{
  margin-top:60px;
  font-size:16px;
  color:#999;
  font-weight:500;
  text-align: center;
  min-width: 762px;
}
